# ==========================================
# LogiTrack S.A. - Plantilla de Variables (.env.example)
# ==========================================

# Google OAuth 2.0 Client ID
GOOGLE_CLIENT_ID=134514735180-itup9unjaso8pr7lk8vvq9hk0bl81avm.apps.googleusercontent.com

# Base de datos PostgreSQL
DB_URL=jdbc:postgresql://postgres:5432/logitrack_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
PORT=8081

# Configuración de Correo Gmail (Mailing/SMTP)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=tomasestebangonzalezquintero@gmail.com
SPRING_MAIL_PASSWORD=tu_app_password_gmail
