<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiTrack S.A. - Bodegas</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/components/cards.css">
</head>
<body>

    <!-- ===== VISTA: BODEGAS ===== -->
    <section id="view-bodegas" class="view-section">
        <div class="section-title" style="margin-bottom:18px;">
            <h2>Bodegas registradas</h2>
            <button class="btn btn-primary btn-sm btn-manage-only" onclick="App.openBodegaModal()">+ Nueva Bodega</button>
        </div>
        <div id="bodegas-list-container"></div>
    </section>

</body>
</html>
