<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiTrack S.A. - Clientes</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/components/tables.css">
</head>
<body>

    <!-- ===== VISTA: CLIENTES ===== -->
    <section id="view-clientes" class="view-section">
        <div class="section-title" style="margin-bottom:18px;">
            <h2>Directorio de Clientes</h2>
            <button id="btn-nuevo-cliente" class="btn btn-primary btn-sm" onclick="ClienteModuleController.openCreateModal()">+ Nuevo Cliente</button>
        </div>
        <div id="clientes-list-container"></div>
    </section>


</body>
</html>
