<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiTrack S.A. - Movimientos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/components/tables.css">
</head>
<body>

    <!-- ===== VISTA: MOVIMIENTOS ===== -->
    <section id="view-movimientos" class="view-section">
        <div class="section-title" style="margin-bottom:18px;">
            <h2>Historial de movimientos</h2>
            <button class="btn btn-primary btn-sm btn-op-only" onclick="App.openModal('modal-movimiento')">+ Registrar Movimiento</button>
        </div>
        <div id="movimientos-list-container"></div>
    </section>

</body>
</html>
