<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiTrack S.A. - Productos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/components/tables.css">
</head>
<body>

    <!-- ===== VISTA: PRODUCTOS ===== -->
    <section id="view-productos" class="view-section">
        <div class="section-title" style="margin-bottom:18px;">
            <h2>Catálogo de productos</h2>
            <button class="btn btn-primary btn-sm btn-manage-only" onclick="App.openProductoModal()">+ Nuevo Producto</button>
        </div>
        <div id="productos-list-container"></div>
    </section>

</body>
</html>
